* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Ariel, Helvetica, sans-serif;
}

.flex-container {
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    background: #f4f4f4;
    /* main axis */
    justify-content: end; /* main axis */
    justify-content: start; /* main axis */
    justify-content: center; /* main axis */
    justify-content: space-around; /* main axis */
    justify-content: space-between; /* main axis */
    justify-content: space-evenly; /* main axis */

     /*cross axis */
    align-items: end;
    align-items: start;
    align-items: center;

    flex-wrap: wrap;

}

.item {
    flex: 1 0 100px;
    flex: 1 0 1px;
    flex: 1;
    width: 100px;
    flex-basis: 300px;
    height: 100px;
    background: #254de4;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/

}

.item:nth-of-type(1) {
    align-self: start;
    order: 2;
    flex-grow: 10;
    flex-shrink: 1;
}

.item:nth-of-type(2) {
    align-self: center;
    order: 1;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 2;
}

.item:nth-of-type(3) {
    align-self: end;
    order: 3;
    flex-grow: 1;
    flex-shrink: 3;
}